@font-face {
  font-family: "iconfont"; /* Project id 4399183 */
  src: url('iconfont.ttf?t=1704361737509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e63e";
}

.icon-pause:before {
  content: "\e87a";
}

.icon-play:before {
  content: "\e87c";
}

